<link rel="stylesheet" href="./common/css/detail.css">
<div class="container" style="width: 100%; height: 100vh;justify-content: center;align-items: center;">
    <!-- Main Product Section -->
    <div class="product-container">
        <div class="product-images">
            <img src="./images/demo/demo1.jpg" alt="Product Image" class="main-image">

            <div class="thumbnail-container">
                <img src="./images/demo/demo2.jpg" alt="Thumbnail 1">
                <img src="./images/demo/demo3.jpg" alt="Thumbnail 2">
                <!-- <img src="./images/demo.jpg" alt="Thumbnail 3">
                <img src="./images/demo.jpg" alt="Thumbnail 4"> -->
            </div>
        </div>

        <div class="product-details">
            <h1>NƯỚC MỸ CHUYỆN CHƯA KỂ (BẢN RÚT GỌN)</h1>
            <p class="price">2,267,000đ</p>

            <div class="description">
                <h3>About the Book</h3>
                <h5>Tên sách: NƯỚC MỸ CHUYỆN CHƯA KỂ (BẢN RÚT GỌN)</h5>
                <p>
                    Nội dung sách:
                    Cuốn sách mang đến cho độc giả một cái nhìn toàn diện, ngắn gọn nhưng ẩn chứa rất nhiều tình tiết
                    gây “wow” về lịch sử nước Mỹ (hoặc ít được biết đến, hoặc bị chủ đích chôn vùi trên truyền thông
                    chính thống) từ đầu thế kỷ 20 cho đến nay! Dựa trên các tài liệu mới được giải mật cùng nhiều nghiên
                    cứu uy tín, cuốn sách không chỉ là một bức tranh toàn cảnh về sự phát triển của nước Mỹ, mà còn phản
                    ánh những mặt đa diện và phức tạp về lịch sử quốc gia này. Đây sẽ là tài liệu tham chiếu cực kỳ quý
                    giá, cung cấp một lăng kính khác giúp giải mã những chính sách và nước đi của Mỹ trong nhiều thập kỷ
                    qua. Điều này đặc biệt hữu ích trong bối cảnh hiện tại khi thế giới đang ngày càng đối mặt với nhiều
                    biến động.
                    Những bài học từ quá khứ có thể giúp chúng ta hiểu rõ hơn về hiện tại và định hình tương lai. Đọc
                    cuốn sách này, bạn sẽ có cơ hội hiểu rõ hơn về một quốc gia có tầm ảnh hưởng lớn nhất thế giới và
                    cách mà lịch sử đất nước này được hình thành. Sự kết hợp giữa kiến thức chuyên môn của Peter Kuznick
                    và góc nhìn độc đáo của Oliver Stone tạo nên một tác phẩm xuất sắc, giúp người đọc mở rộng tầm mắt
                    và có cái nhìn toàn diện hơn về thế giới.
                </p>
                <div>
                    <ul>
                        <li>Thể loại: Lịch sử/Địa chính trị</li>
                        <li>Tác giả: Peter Kuznick & Oliver Stone</li>
                        <li>Đơn vị phát hành: Book Hunter</li>
                        <li>NXB: NXB Đà Nẵng</li>
                        <li>Số trang: 350</li>
                        <li>Loại bìa: Mềm</li>
                        <li>100% sách bản quyền</li>
                        <li>
                            <strong>[Tùy chọn] Sách có chữ ký và nội dung đề bút của dịch giả</strong>
                            <input type="text">
                        </li>
                        <li>Giá bìa: 290,000đ</li>
                        <li>Số lượng (freeship nội thành Hà Nội cho đơn hàng trên 500,000đ)</li>
                        <li>Thông tin chi tiết về sách
                            + Tên sách gốc: The Concise Untold History of the United States
                            + Tác giả: Peter Kuznick & Oliver Stone
                            + Lời khen dành cho sách (sẽ bổ sung sau)
                            + Mục lục (sẽ bổ sung)
                        </li>

                    </ul>
                </div>
                <!-- <p>
                    It is important to note, this listing showcases a colored border surrounding the image area.
                    This border is part of the selected size and is meant to be seen as part of the print.
                </p> -->
            </div>

            <div class="product-options">
                <div class="select-group">
                    <label for="color">Select Color</label>
                    <select id="color">
                        <option>Blue</option>
                        <option>Red</option>
                        <option>Green</option>
                    </select>
                </div>
                <div class="select-group">
                    <label for="size">Select Size</label>
                    <select id="size">
                        <option>20 x 20</option>
                        <option>24 x 24</option>
                    </select>
                </div>
                <div class="select-group">
                    <label for="material">Select Material</label>
                    <select id="material">
                        <option>Giclee</option>
                        <option>Canvas</option>
                    </select>
                </div>
            </div>

            <div class="cart-actions">
                <div class="quantity-selector">
                    <button class="qty-btn">-</button>
                    <input type="text" value="1" class="qty-input">
                    <button class="qty-btn">+</button>
                </div>

                <button class="add-to-cart-btn">Add to Cart</button>
                <button class="buy-now-btn">Buy Now</button>
            </div>
        </div>
    </div>

    <!-- Một số đoạn trích hay  -->
    <div class="some-excerpts" style="padding: 3%;">
        <!-- Title -->
        <h5 style="padding: 1%;">Một số đoạn trích hay</h5>
        <div class="card-container">
            <div class="card">
                <h3>Card 1</h3>
                <p>“Hồ Chí Minh đã đến gặp Wilson và mang theo bản kiến nghị đòi độc lập cho Việt Nam. Giống như những
                    nhà lãnh đạo khác thuộc Thế giới thứ ba có mặt tại Hội nghị, ông Hồ dần hiểu rằng con đường giải
                    phóng chỉ đến thông qua đấu tranh, chứ không phải qua sự hào phóng của Woodrow Wilson (tr37)”</p>
            </div>
            <div class="card">
                <h3>Card 2</h3>
                <p>“Nhiều thế hệ người Mỹ được dạy rằng Hoa Kỳ đã miễn cưỡng thả bom nguyên tử vào cuối Thế chiến thứ
                    hai để cứu sống hàng trăm nghìn binh lính trẻ sắp bỏ mạng trong cuộc tấn công Nhật Bản. Nhưng câu
                    chuyện ở đây thực ra vô cùng phức tạp, ly kì và khó nghe hơn nhiều”</p>
            </div>
        </div>
    </div>

    <div class="some-excerpts" style="padding: 3%;">
        <!-- Title -->
        <h5 style="padding: 1%;">Các hoạt động quảng bá liên quan đến cuốn sách</h5>
        <div class="card-container">
            <div class="card">
                <h3>Book Talk</h3>
                <p>Tham gia sự kiện book talk với các tác giả nổi tiếng...</p>
            </div>
            <div class="card">
                <h3>Sự kiện văn hóa</h3>
                <p>Cuốn sách đã được giới thiệu trong nhiều sự kiện văn hóa lớn...</p>
            </div>
        </div>
    </div>

    <div class="some-excerpts" style="padding: 3%;">
        <!-- Title -->
        <h5 style="padding: 1%;">Thường được mua cùng</h5>
        <div class="card-container">
            <div class="card">
                <h3>Sách cùng thể loại 1</h3>
                <p>Cuốn sách "Lịch sử Việt Nam"...</p>
            </div>
            <div class="card">
                <h3>Sách cùng thể loại 2</h3>
                <p>Cuốn sách "Cách mạng Tháng Tám"...</p>
            </div>
        </div>
    </div>

    <div class="some-excerpts" style="padding: 3%;">
        <!-- Title -->
        <h5 style="padding: 1%;">Sách bán chạy</h5>
        <div class="card-container">
            <div class="card">
                <h3>Sách bán chạy 1</h3>
                <p>Cuốn sách "Những Người Khốn Khổ"...</p>
            </div>
            <div class="card">
                <h3>Sách bán chạy 2</h3>
                <p>Cuốn sách "Đắc Nhân Tâm"...</p>
            </div>
        </div>
    </div>

    <div class="some-excerpts" style="padding: 3%;">
        <!-- Title -->
        <h5 >Sách đã xem</h5>
        <div class="card-container">
            <div class="card">
                <h3>Sách đã xem 1</h3>
                <p>Cuốn sách "Chiến tranh và Hòa bình"...</p>
            </div>
            <div class="card">
                <h3>Sách đã xem 2</h3>
                <p>Cuốn sách "Tư duy nhanh và chậm"...</p>
            </div>
        </div>
    </div>

</div>