<!doctype html>
<html lang="ja-JP">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>demo</title>
    <meta property="og:title" content="demo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://demo.com/" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="demo" />
    <meta property="og:description"
        content="demo" />
    <link rel="shortcut icon" href="./common/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./common/img/apple-touch-icon-144-precomposed.png">

    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="./common/css/style.css">
    <!--Google Analytics-->
    <script src="./common/js/libs.js" type="text/javascript"></script>
    <script src="./common/js/common.js" type="text/javascript"></script>
</head>

<body id="mikiyakobayashi" class="sub">
    <noscript>
        <div id="noscript_message">demo</div>
    </noscript>
    <div id="wrap">


        <div id="header">
            <div class="container">

                <div id="logo"><a href="/" class="hover-line"><span>demo</span></a></div>
                <div id="gnavi" class="nav">
                    <div class="nav-btn">
                        <a href="#gnavi-links">
                            <span class="bars">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </span>
                            <span class="label">PROJECTS</span>
                        </a>
                    </div>
                </div>


                <div id="cnavi" class="nav">
                    <div class="nav-btn">
                        <a href="#cnavi-links">
                            <i class="icon-search icon"></i>
                            <span class="label">

                                <span class="main-label">ALL</span>

                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div id="contents-wrap">
            <div id="contents">
                <div id="portfolio" class="content flow-grid">

                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img src="http://www.mikiyakobayashi.com/projects/product/assets_c/2024/07/1_main-thumb-400xauto-1331.jpg"
                                    alt="1_main.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">SANGETSU</div>
                                <h2 class="title">ATTRACTIVE MOMENT 2024</h2>
                            </div>
                        </a>
                    </div>

                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2020/06/nj_8979-thumb-400xauto-940.jpg"
                                    alt="nj_8979.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">OBIYA SUTEMATSU</div>
                                <h2 class="title">OBIYA SUTEMATSU PRODUCTS</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/IMS_1204-thumb-400xauto-952.jpg"
                                    alt="IMS_1204.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">nagi by FUJI FURNITURE</div>
                                <h2 class="title">NC4</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8835w-thumb-400xauto-901.jpg"
                                    alt="bo_8835w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Concept model</div>
                                <h2 class="title">FURNITURE for BEOSOUND 2</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8569w-thumb-400xauto-883.jpg"
                                    alt="bo_8569w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Concept model</div>
                                <h2 class="title">FURNITURE for BEOPLAY M3</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/bo_8487w-thumb-400xauto-871.jpg"
                                    alt="bo_8487w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Concept model</div>
                                <h2 class="title">FURNITURE for EARPHONE</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2018/10/IMG_0012_4w-thumb-400xauto-845.jpg"
                                    alt="IMG_0012_4w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">HIRO</div>
                                <h2 class="title">HILLS</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/5-01-thumb-400xauto-979.jpg"
                                    alt="5-01.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">MIKI HOUSE</div>
                                <h2 class="title">BABY BED &amp; NURSING CHAIR</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/IMS_1144_w-thumb-400xauto-1147.jpg"
                                    alt="IMS_1144_w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IMPLEMENTS</div>
                                <h2 class="title">IC2 SKIFF CHAIR</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/imp_0609w-2-thumb-400xauto-1151.jpg"
                                    alt="imp_0609w-2.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IMPLEMENTS</div>
                                <h2 class="title">IC1 MAST CHAIR</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/imp_1053w-thumb-400xauto-822.jpg"
                                    alt="imp_1053w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IMPLEMENTS</div>
                                <h2 class="title">IT1</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/imp_0466w-thumb-400xauto-828.jpg"
                                    alt="imp_0466w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IMPLEMENTS</div>
                                <h2 class="title">IS1 SAIL SOFA</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/imp_1085w-thumb-400xauto-835.jpg"
                                    alt="imp_1085w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IMPLEMENTS</div>
                                <h2 class="title">IT2 &amp; IT3</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb movie" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/space/assets_c/2018/10/playscape2-thumb-400xauto-814.jpg"
                                    alt="playscape2.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">SOLO EXHIBITION</div>
                                <h2 class="title">PLAYSCAPE / MOVIE</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb movie" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/space/assets_c/2018/10/PLAYSCAPE-thumb-400xauto-807.png"
                                    alt="PLAYSCAPE.png">

                            </div>
                            <div class="meta">
                                <div class="client">SOLO EXHIBITION</div>
                                <h2 class="title">PLAYSCAPE / INTRODUCTION MOVIE</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/i20_maru_1-thumb-400xauto-960.jpg"
                                    alt="i20_maru_1.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">PLUS</div>
                                <h2 class="title">MARU</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/donut-image-girl-2_HP-thumb-400xauto-808.jpg"
                                    alt="donut-image-girl-2_HP.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">DIABLA</div>
                                <h2 class="title">DONUT</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/04/mas_0500_2w-thumb-400xauto-797.jpg"
                                    alt="mas_0500_2w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">DRUCKER</div>
                                <h2 class="title">MASSENA</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/others/assets_c/2018/01/Hika_02_w-thumb-400xauto-787.jpg"
                                    alt="Hika_02_w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">AQUACLEAN</div>
                                <h2 class="title">MK COLLECTION</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2020/06/picnic_%E7%AE%B8%E7%BD%AE%E3%81%8D05-thumb-400xauto-974.jpg"
                                    alt="picnic_箸置き05.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">KAMIDE CHOEMON</div>
                                <h2 class="title">PICNIC / nonohara</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2018/10/msw_7594w-thumb-400xauto-851.jpg"
                                    alt="msw_7594w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">MASTERWAL</div>
                                <h2 class="title">UC3 &amp; UC4</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2017/10/aks_3720_2w-thumb-400xauto-755.jpg"
                                    alt="aks_3720_2w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">MASTERWAL</div>
                                <h2 class="title">UA1</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/akc_4182-thumb-400xauto-1069.jpg"
                                    alt="akc_4182.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">MASTERWAL</div>
                                <h2 class="title">YU COLLECTION</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2018/10/_Z7A7550w-thumb-400xauto-861.jpg"
                                    alt="_Z7A7550w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">LEXON</div>
                                <h2 class="title">HIBI</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2017/01/hp16_10242w-thumb-400xauto-744.jpg"
                                    alt="hp16_10242w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Prototype</div>
                                <h2 class="title">MIRAGE STOOL</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/tc_16069w-thumb-400xauto-691.jpg"
                                    alt="tc_16069w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">TAIYOU&amp;C.</div>
                                <h2 class="title">ROUND</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/tc_15967w-thumb-400xauto-685.jpg"
                                    alt="tc_15967w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">TAIYOU&amp;C.</div>
                                <h2 class="title">HORIZON</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/1101_4228w-thumb-400xauto-736.jpg"
                                    alt="1101_4228w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">YANAGISAWA MOKKO</div>
                                <h2 class="title">KODACHI</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/ymn_0109w-thumb-400xauto-723.jpg"
                                    alt="ymn_0109w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">TAKUMI KOHGEI</div>
                                <h2 class="title">yamanami 2016</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/space/assets_c/2016/12/nb_6972W-thumb-400xauto-725.jpg"
                                    alt="nb_6972W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">NIHON BED</div>
                                <h2 class="title">NIHON BED DESIGN Vol.90</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/Prairie04w-thumb-400xauto-730.jpg"
                                    alt="Prairie04w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">NIHON BED</div>
                                <h2 class="title">PRAIRIE</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/12/Beach01w-thumb-400xauto-729.jpg"
                                    alt="Beach01w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">NIHON BED</div>
                                <h2 class="title">BEACH</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2020/06/Dt_6003w-thumb-400xauto-1145.jpg"
                                    alt="Dt_6003w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Daily table</div>
                                <h2 class="title">ULIVO</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/08/ki_5562-thumb-400xauto-664.jpg"
                                    alt="ki_5562.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">HOKKAIDO ARTS FOUNDATION</div>
                                <h2 class="title">KIMI NO ISU 2016</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/others/assets_c/2016/04/oliveoil_0257w-thumb-400xauto-619.jpg"
                                    alt="oliveoil_0257w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">PLAIN COMPANY</div>
                                <h2 class="title">OLIVE OIL BOTTLE</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="267">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/05/living_neww-thumb-400xauto-634.jpg"
                                    alt="living_neww.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">TENDO MOKKO</div>
                                <h2 class="title">DAN COLLECTION</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2020/06/kime6_25588-thumb-400xauto-1037.jpg"
                                    alt="kime6_25588.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">DREAMY PERSON</div>
                                <h2 class="title">kime 2015</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2016/05/IMG_14468w-thumb-400xauto-640.jpg"
                                    alt="IMG_14468w.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">HIDA FOREST</div>
                                <h2 class="title">CLOUD2</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2015/06/_IMG_0095W-thumb-400xauto-578.jpg"
                                    alt="_IMG_0095W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IKI by TAKATA Lemnos</div>
                                <h2 class="title">OHA</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2020/06/SHIN_0140_1-thumb-400xauto-1110.jpg"
                                    alt="SHIN_0140_1.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">IKI by TAKATA Lemnos</div>
                                <h2 class="title">SHIN</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2015/06/Bird-Call_image_04W-thumb-400xauto-572.jpg"
                                    alt="Bird-Call_image_04W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">Timbre</div>
                                <h2 class="title">BIRD CALL</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2015/06/_IMG_11088W-thumb-400xauto-551.jpg"
                                    alt="_IMG_11088W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">KAMIDE CHOEMON</div>
                                <h2 class="title">PICNIC / nonohara</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/product/assets_c/2015/06/_IMG_11104W-thumb-400xauto-557.jpg"
                                    alt="_IMG_11104W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">KAMIDE CHOEMON</div>
                                <h2 class="title">PICNIC / original</h2>
                            </div>
                        </a>
                    </div>


                    <div class="entry">
                        <a href="#" onclick="window.location.href='detail'; return false;">
                            <div class="thumb" data-original-width="400" data-original-height="266">

                                <img data-original="http://www.mikiyakobayashi.com/projects/furniture/assets_c/2020/06/KGLP_117_DN90943_XL_W-thumb-400xauto-1116.jpg"
                                    alt="KGLP_117_DN90943_XL_W.jpg">

                            </div>
                            <div class="meta">
                                <div class="client">KOHEI GLASS STUDIO</div>
                                <h2 class="title">TREE FROST</h2>
                            </div>
                        </a>
                    </div>


                    <script type="text/javascript" src="./common/js/flow_grid_init.js"></script>
                </div>
            </div>
        </div>


    </div>
    <div id="menu">
        <nav id="gnavi-links" class="nav-links">
            <ul class="hover-line-links">
                <li><a href="/projects" class="current"><span>SHOP</span></a></li>
                <li><a href="/contact"><span>VỀ DỊCH GIẢ THẢO MINH</span></a></li>
                <li><a href="#"><span>TIN TRUYỀN THÔNG</span></a></li>
                <li><a href="#"><span>HOẠT ĐỘNG KHUYẾN ĐỌC</span></a></li>
                <li><a href="#"><span>CÁC DỰ ÁN KHÁC</span></a></li>
                <li><a href="#"><span>LIÊN HỆ</span></a></li>
            </ul>
        </nav>


        <nav id="cnavi-links" class="nav-links">

            <ul>
                <li class="current"><a href="/projects">ALL</a></li>
                <li>
                    <a href="/projects">PRODUCT</a>
                    <div class="sub-nav-links">
                        <div class="sub-nav-links-inner">
                            <dl>
                                <dt>PRODUCT</dt>
                                <dd>
                                    <ul class="hover-line-links">
                                        <li><a href="#"><span>ALL ITEMS [40]</span></a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl>
                                <!-- <dt>Producer</dt> -->
                                <dd>
                                    <ul class="hover-line-links">
                                        <dl>
                                            <!-- <dt>chii by usuiworks </dt> -->
                                            <dd>
                                                <ul class="hover-line-links">
                                                    <dl>
                                                        <dt>Sách mới ra</dt>
                                                        <dd>
                                                            <ul class="hover-line-links">
                                                                <li>
                                                                    <a href="">
                                                                        <span>DROREMON [1]</span>
                                                                    </a>
                                                                </li>
                                                                
                                                                <li>
                                                                    <a href="">
                                                                        <span>DROREMON [1]</span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        <span>DROREMON [1]</span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        <span>CONNAN [1]</span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        <span>CONNAN [1]</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                </ul>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <!-- <dt>chii by usuiworks </dt> -->
                                            <dd>
                                                <ul class="hover-line-links">
                                                    <dl>
                                                        <dt>Sách bán chạy</dt>
                                                        <ul class="hover-line-links">
                                                            <li>
                                                                <a href="">
                                                                    <span>GAO [1]</span>
                                                                </a>
                                                            </li>
                                                            
                                                            <li>
                                                                <a href="">
                                                                    <span>GAO [1]</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="">
                                                                    <span>GAO [1]</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="">
                                                                    <span>GAO [1]</span>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="">
                                                                    <span>GAO [1]</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </dl>
                                                </ul>
                                            </dd>
                                        </dl>

                                        <dl>
                                            <!-- <dt>chii by usuiworks </dt> -->
                                            <dd>
                                                <ul class="hover-line-links">
                                                    <dl>
                                                        <dt>Sách sắp phát hành</dt>
                                                        <dd>
                                                            <ul class="hover-line-links">
                                                                <li>
                                                                    <a href="">
                                                                        <span>DROREMON</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                    <li><a
                                                            href="#"><span>Year
                                                                [0]</span></a></li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Nhận xét của độc giả</a>
                    <div class="sub-nav-links">
                        <div class="sub-nav-links-inner">
                            <dl>
                                <dt>Nhận xét của độc giả</dt>
                                <dd>
                                    <ul class="hover-line-links">
                                        <li><a href="#"><span>ALL ITEMS
                                                    [8]</span></a></li>
                                    </ul>
                                </dd>
                            </dl>
                           
                        </div>
                    </div>
                </li>
                <li>
                    <a href="http://www.mikiyakobayashi.com/projects/others/">Đối tác đồng hành</a>
                    <div class="sub-nav-links">
                        <div class="sub-nav-links-inner">
                            <dl>
                                <dt>Đối tác đồng hành</dt>
                                <dd>
                                    <ul class="hover-line-links">
                                        <li><a href="#"><span>Alpha Books</span></a></li>
                                        <li><a href="#"><span>Book
                                                    Hunter</span></a></li>
                                        <li><a href="#"><span>Times – Sách
                                                    thời đại</span></a></li>
                                        <li><a href="#"><span>Bình Bán
                                                    Book</span></a></li>
                                        <li><a href="#"><span>NXB Dân
                                                    Trí</span></a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </li>

            </ul>

        </nav>
        <style>
            /* Biểu tượng mạng xã hội */
            .social-icons {
                position: fixed;
                /* Định vị cố định */
                bottom: 5%;
                /* Đặt ở giữa màn hình theo chiều dọc */
                right: 20px;
                /* Khoảng cách từ lề trái */
                transform: translateY(-50%);
                /* Căn giữa theo chiều dọc */
                display: flex;
                flex-direction: column;
                /* Sắp xếp theo chiều dọc */
                gap: 15px;
                /* Khoảng cách giữa các biểu tượng */
            }

            .social-icon {
                width: 40px;
                /* Kích thước biểu tượng */
                height: 40px;
                /* Kích thước biểu tượng */
                transition: transform 0.3s;
                /* Hiệu ứng khi hover */
            }

            .social-icon:hover {
                transform: scale(1.1);
                /* Phóng to biểu tượng khi hover */
            }
        </style>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
                    alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram"
                    class="social-icon">
            </a>
            <a href="https://zalo.me" target="_blank">
                <img src="https://seeklogo.com/images/Z/zalo-logo-488A5B08FF-seeklogo.com.png" alt="Zalo" class="social-icon">
            </a>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div id="copyright" class="wfont">&copy; MIKIYA KOBAYASHI INC. All Rights Reserved.</div>
        </div>
    </div>
</body>

</html>